html, body {
    height: 100%;
}
body {
    margin: 0px;
    position: relative;
    padding-bottom: 100px;
}
#bg {
    width: 100%;
    height: 100%;
    background-image: url('img/bg.jpg');
    background-size: cover;
    position: fixed;
    top: 0px;
    z-index: -1;
}
#title, #footer {
    margin: auto;
    color: white;
    text-align: center;
    padding: 20px 10px;
    background-color: rgba(0,0,0,.5);
    font-family: verdana, san-serif;
}
#outerWrap {
    margin-bottom: -50px;
    min-height: 100%;
}
.wrapper {
    width: 80%;
    margin: auto;
    padding: 1%;
    min-height: 160px;
    background-color: lightsteelblue;
    border: 2px solid steelblue;
    border-radius: 8px;
}
.contentBox {
    background-color: gainsboro;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-family: georgia, serif;
    font-size: 1.2em;
}
.contentBox p {
    margin: 0px;
}
#select.contentBox, #save.contentBox {
    height: 40px;
    float: left;
    width: 47%;
}
#save.contentBox {
    margin-left: 2%;
}
#data {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid darkgrey;
    font-family: helvetica, sans-serif;
    font-size: .9em;
}
#data thead {
    font-weight: bold;
}
#data tr td {
    border: 1px solid darkgrey;
    padding: 2px 4px;
}
#footer, #push {
    height: 50px;
}
.hide {
    display: none;
}
#save .active {
    border: 2px solid orange;
    cursor: pointer;
}